@{
    ViewData["Title"] = "Home";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the home of<br />shopping<br />and<br />F-U-N!</h1>
</div>